.git
.gitignore
Dockerfile
.dockerignore

**/__pycache__
**/*.py[cod]
**/venv
**/.env*

**/htmlcov
**/.coverage
**/.pytest_cache

**/.vscode
**/.idea
**/*.sw[op]
**/*~
**/.DS_Store

**/node_modules
**/dist

**/.gandalf
**/gandalf_*.log

**/*.bak
**/tmp
**/*.tmp